<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: frag-head">
	<meta charset="ISO-8859-1">
	<title>Edit Meeting</title>
</head>
<body>

<header th:insert="layout/layout :: frag-header"></header>
<main>
	
  <section>
  
  	<nav aria-label="breadcrumb" class="margin-20">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a href="#">Home</a></li>
	    <li class="breadcrumb-item"><a th:href="@{/meetings-bs}">Meetings</a></li>
	    <li class="breadcrumb-item active" aria-current="page">Edit</li>
	  </ol>
	</nav>
	
	<div class="card text-center margin-20">
	  <div class="card-header">
	    Edit Meeting
	  </div>
	  <div class="card-body" style="text-align: left;">
	  	
	  	<form th:action="@{'/meetings-bs/' + ${meeting.id} + '/update'}" th:object="${meeting}" method="post" class="row g-3 needs-validation" novalidate>
		  <div class="col-md-3">
		    <label for="name" class="form-label">Name Meeting</label>
		    <input type="text" class="form-control" th:field="*{name}" required>
		    <div class="valid-feedback">
		      OK!
		    </div>
		  </div>
		  <div class="col-md-3">
		    <label for="date" class="form-label">Date</label>
		    <input type="text" class="form-control" th:field="*{date}" required>
		    <div class="valid-feedback">
		      OK!
		    </div>
		  </div>
		  
		  <div class="col-md-2">
		    <label for="hour" class="form-label">Hour</label>
		    <input type="text" class="form-control" th:field="*{hour}" required>
		    <div class="valid-feedback">
		      OK!
		    </div>
		  </div>
		  <div class="col-md-2">
		    <label for="type" class="form-label">Type</label>
		    <input type="text" class="form-control" th:field="*{type}" required>
		    <div class="valid-feedback">
		      OK!
		    </div>
		  </div>
		  <div class="col-md-2">
		    <label for="description" class="form-label">Description</label>
		    <input type="text" class="form-control" th:field="*{description}" required>
		    <div class="valid-feedback">
		      OK!
		    </div>
		  </div>
		  
		  <div class="col-12" style="text-align: center;">
		    <button class="btn btn-warning" type="submit"><i class="fas fa-save"></i> Update</button>
		  </div>
		</form>
	  
	  </div>
	  <div class="card-footer text-muted">

	  </div>
	</div>
  </section>

</main>
<footer th:replace="layout/layout :: frag-footer"></footer>	

</body>
</html>