<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/flatly/bootstrap.min.css"
	integrity="sha512-B/+HwQLNIGvEYJWB7Uagk+ax/F3LE1oBoZo2J2p0iMFQs2qQel80UikCcdHRyqw0+V27qnRW+wQJgn/G3XSAsw=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<title>Hello, world!</title>
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">Guests</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
			data-bs-target="#navbarColor01" aria-controls="navbarColor01"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarColor01">
			<ul class="navbar-nav me-auto">
				<li class="nav-item"><a class="nav-link active" href="#">Home
				</a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="card-header">
	    Guests
</div>
<p class="card-text"> 
		        	The student is <span th:text="${guest.age}"></span> years old.
		        	This student is registed in <span th:text="${guest.firstname}"></span> career. 
		        </p>