<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: frag-head">
	<meta charset="ISO-8859-1">
	<title>New Appreciations</title>
</head>
<body>

<header th:insert="layout/layout :: frag-header"></header>
<main>
	
  <section>
  
  	<nav aria-label="breadcrumb" class="margin-20">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a href="#">Home</a></li>
	    <li class="breadcrumb-item"><a th:href="@{/appreciations-bs}">Appreciations</a></li>
	    <li class="breadcrumb-item active" aria-current="page">New</li>
	  </ol>
	</nav>
	
	<div class="card text-center margin-20">
	  <div class="card-header">
	    Appreciations
	  </div>
	  <div class="card-body" style="text-align: left;">
	  	
	  	<form th:action="@{/appreciations-bs/savenew}" th:object="${appreciation}" method="post" class="row g-3 needs-validation" novalidate>
		 		 
		  <div class="col-md-3">
		    <label for="review" class="form-label">Review</label>
		    <input type="text" class="form-control" th:field="*{review}" required>
		    <div class="valid-feedback">
		      OK!
		    </div>
		  </div>
		  
		  <div class="col-md-3">
		    <label for="puntuation" class="form-label">Punctuation</label>
		    <input type="text" class="form-control" th:field="*{puntuation}" required>
		    <div class="valid-feedback">
		      OK!
		    </div>
		  </div>
		  
		  <div class="col-md-4">
		    <label for="guest" class="form-label">Guest</label>
		    <select class="form-select" th:field="*{guest}" required>
		      <option selected disabled value="">Choose...</option>
		      <option th:each="guest : ${guests}" th:value="${guest.id}" th:text="${guest.firstName}">...</option>
		    </select>
		    <div class="invalid-feedback">
		      Please select a valid state.
		    </div>
		  </div>
		   
		  <div class="col-12" style="text-align: center;">
		    <button class="btn btn-success" type="submit"><i class="fas fa-save"></i> New Appreciation </button>
		  </div>
		</form>
	  
	  </div>
	  <div class="card-footer text-muted">

	  </div>
	</div>
  </section>

</main>
<footer th:replace="layout/layout :: frag-footer"></footer>	

</body>
</html>