<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: frag-head">
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>
<body>

<header th:insert="layout/layout :: frag-header"></header>
<main>
	
  <section>
  
  	<nav aria-label="breadcrumb" class="margin-20">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a href="#">Home</a></li>
	    <li class="breadcrumb-item active" aria-current="page">Payments</li>
	  </ol>
	</nav>
	
	<div class="card text-center margin-20">
	  <div class="card-header">
	    Payments
	  </div>
	  <div class="card-body">
	    
	    <table class="table table-striped">
		  <thead>
		    <tr>
		      <th scope="col">Id</th>
		      <th scope="col">Nombre del titular</th>
		      <th scope="col">Correo electronico</th>
		    <!--  <th scope="col">Organizador</th>-->
		      <th scope="col"></th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr th:each="payment : ${payments}">
		      <th scope="row" th:text="${payment.id}">1</th>
		      <td th:text="${payment.name}">Nombre del titular</td>
		      <td th:text="${payment.email}">Correo electronico</td>
		     <!-- <td th:text="${payment.organizer.name}">@mdo</td>-->
		    <!--  <td>
		      	<a class="btn btn-warning" th:href="@{'/payments/' + ${payment.id} + '/edit'}" role="button"> <i class="fas fa-edit"></i> </a>
		      	<a class="btn btn-danger" th:href="@{'/payments/' + ${payment.id} + '/del'}" role="button"> <i class="fas fa-trash-alt"></i> </a>
		      </td> -->
		    </tr>
		  </tbody>
		</table>
	    
	  </div>
	  <div class="card-footer text-muted">
	    <a class="btn btn-primary" th:href="@{/payments/new}" role="button"> <i class="fas fa-plus"></i> Pagar </a>
	  </div>
	</div>
  </section>

</main>
<footer th:replace="layout/layout :: frag-footer"></footer>	

</body>
</html>