<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: frag-head">
	<meta charset="ISO-8859-1">
	<title>My Locals</title>
</head>
<body>

<header th:insert="layout/layout :: frag-header"></header>
<main>
	
  <section>
  
  	<nav aria-label="breadcrumb" class="margin-20">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a href="#">Home</a></li>
	    <li class="breadcrumb-item active" aria-current="page">Local Owners</li>
	  </ol>
	</nav>
	
	<div class="card text-center margin-20">
	  <div class="card-header">
	    Local Owners Business
	  </div>
	  <div class="card-body">
	  
	  <div class="row row-cols-1 row-cols-md-2 g-4">
  <div th:each="local : ${locals}" class="col">
    <div class="card" style="display:flex">
      <div style="justify-content:center"><img th:src="${local.localowner.UrlToImage}" class="card-img-top" alt="..." style="width: 600px; height: 400px"></div>
      <div class="card-body">
        <h5 class="card-title" th:text="${local.name}">n</h5>
        <p class="card-text"></p>
        This Local is located in <span th:text="${local.district}"></span></p>
        The entrance fee to this local is <span th:text="${local.cost}"></span></p>
        The capacity of this local is <span th:text="${local.description}"></span></p>
      </div>
    </div>
  </div>
</div>
	    
	  </div>
	  <div class="card-footer text-muted">
	    <a class="btn btn-primary" th:href="@{/locals-bs/new}" role="button"> <i class="fas fa-plus"></i> New </a>
	  </div>
	</div>
  </section>

</main>
<footer th:replace="layout/layout :: frag-footer"></footer>	

</body>
</html>