<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/flatly/bootstrap.min.css"
	integrity="sha512-B/+HwQLNIGvEYJWB7Uagk+ax/F3LE1oBoZo2J2p0iMFQs2qQel80UikCcdHRyqw0+V27qnRW+wQJgn/G3XSAsw=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />
<title>Hello, world!</title>
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<div class="container-fluid">
		<a class="navbar-brand" href="#">Suggestions</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
			data-bs-target="#navbarColor01" aria-controls="navbarColor01"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarColor01">
			<ul class="navbar-nav me-auto">
				<li class="nav-item"><a class="nav-link active" href="#">Home
				</a></li>
			</ul>
		</div>
	</div>
</nav>
<h3 class="text-Left pt-3 pb-3">Sugerencias de reunión</h3>
<p class="lead">Ingrese los datos que se le indican a continuación:</p>
<div class="form-group">
	<label for="exampleSelect1" class="form-label mt-4">Ingrese la
		puntuación de la reunión</label> <select class="form-select"
		id="exampleSelect1">
		<option>1</option>
		<option>2</option>
		<option>3</option>
		<option>4</option>
		<option>5</option>
	</select>
</div>
<div class="form-group">
	<label class="col-form-label col-form-label-lg mt-4" for="inputLarge">Ingrese
		su sugerencia o review:</label> <input class="form-control form-control-lg"
		type="text" placeholder="Mis sugerencias son:" id="inputLarge">
</div>