<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: frag-head">
<meta charset="ISO-8859-1">
<title>List Guests</title>
</head>
<body>

	<header th:insert="layout/layout :: frag-header"></header>
	<main>

		<a class="btn btn-danger" th:href="@{/appreciations-bs}" role="button">
			Appreciations </a> 
		
		<a class="btn btn-danger" th:href="@{/guests-bs}"
			role="button"> Guests </a>






	</main>
	<footer th:replace="layout/layout :: frag-footer"></footer>

</body>
</html>