<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: frag-head">
	<meta charset="ISO-8859-1">
	<title>Suggestions Business</title>
</head>
<body>

<header th:insert="layout/layout :: frag-header"></header>
<main>
	
  <section>
  
  	<nav aria-label="breadcrumb" class="margin-20">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a href="#">Home</a></li>
	    <li class="breadcrumb-item active" aria-current="page">Suggestions</li>
	  </ol>
	</nav>
	
	
	  <div class="card-header">
	 
	  </div>
	  <div class="card-body">
	    
	    <div class="row">
		  <div  class="col-sm-3 margin-b-10" style="margin: 0 auto;">
		    <div class="container">
					<div class="card">
						<div class="card-header text-white bg-dark mb-3" style="text-align:center" >Detail of Suggestion</div>
						<div class="card-body">

							<div class="table-responsive">
								<table class="table table-white" >

									<tbody>
										<tr>
											<td>Suggestion ID</td>
											<td th:text="${suggestion.id}"></td>
										</tr>
										<tr>
											<td>Suggestion Name</td>
											<td th:text="${suggestion.name}"></td>
										</tr>
										<tr>
											<td>Suggestion Description</td>
											<td th:text="${suggestion.description}"></td>
										</tr>
										
										<tr>
											<td>Suggestion Importance</td>
											<td th:text="${suggestion.importance}"></td>
										</tr>
																		
									</tbody>

								</table>
								
								<a class="btn btn-danger" th:href="@{/suggestions-bs}" role="button" >  Back  </a>
							</div>
						</div>
					</div>
				</div>
		  </div>
	    
	  </div>
	  <div class="card-footer text-muted">
	    
	  </div>
	</div>
	</div>
  </section>

</main>
<footer th:replace="layout/layout :: frag-footer"></footer>	

</body>
</html>